<body>
<div id="bloque1">
  <h1>Programming Languages</h1>
</div>
<div id="bloque2">
  <img src="assets/java.png" alt="programming languages">
  <img src="assets/html.png" alt="programming languages">
  <img src="assets/css.webp" alt="programming languages">
  <img src="assets/py.webp" alt="programming languages">
  <img src="assets/dart.png" alt="programming languages">
  <img src="assets/flutter.webp" alt="programming languages">
  <img src="assets/js.webp" alt="programming languages">
  <img src="assets/sass.png" alt="programming languages">
  <img src="assets/sql.png" alt="programming languages">
  <img src="assets/angular.png" alt="programming languages">
</div>
</body>
