<body>
<div id="body">
  <div id="bloque1">
    <h1>Ester Cubero - résume</h1>
    <img src="assets/profilepic.jpg" alt="profile picture" class="profilepic">
    <div>Ester Cubero Chaves</div>
    <div>email&#64;mail.com</div>
    <div>+34 612 345 678</div>
  </div>
  <div id="bloque2">
    <div>
      Hi there! I'm Ester Cubero Chaves. I'm an English Studies graduate by UNED (Spain), but I'm also studying Multiplatform Application Development at IES Antonio Gala in Palma del Río.
        I was born on December 20th, 1998. I have always liked literature, but it was not so long ago that I discovered programming, something I really like too. My main objective would be to mix both studies and get to work in the branch of Computational Linguistics. I am available to join your team at your earliest convenience, reach me out at the contact section!
    </div>
    <div class="contacto">
      <h2>
        Contact me!
      </h2>
      <div class="iconos">
        <a href="https://github.com/esterqb" target="_blank"><ng-icon name="oct-mark-github" class="icon"></ng-icon></a>
        <a href="https://linkedin.com" target="_blank"><img src="assets/linkedin-brands-.svg" class="icon"></a>
        <ng-icon name="oct-mail" class="icon"></ng-icon><div>email&#64;mail.com</div>

      </div>
    </div>
  </div>
</div>
</body>
