<body>

  <div id="bloque1">
    <h1>Experience</h1>
  </div>

  <div id="bloque2">
    <div>Intern at PUNTO JS ESTUDIO CREATIVO</div>
    <div>Palma del Río, Córdoba. January 2025 - March 2025</div>
    <div>Kitchen assistant at DANI'S PIZZA</div>
    <div>Palma del Río, Córdoba. January 2022 - Currently</div>
    <div>Sales assistant at INTIMISSIMI</div>
    <div>Bluewater Shopping Center, Dartford. November 2018 - March 2020</div>
    <span>Other jobs:</span>
    <ul>
      <li>Babysitter</li>
      <li>Waitress</li>
      <li>Tutor</li>
    </ul>
  </div>

</body>


